<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Tanislav Robert Marian">

	<title>Linha de pesquisa</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/images/favicon.png">
	<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Plugins -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/et-line-font.css" rel="stylesheet">
	<link href="assets/css/simpletextrotator.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="assets/css/superslides.css" rel="stylesheet">
	<link href="assets/css/margins.css" rel="stylesheet">
	<link href="assets/css/animate.css" rel="stylesheet">

	<!-- Template core CSS -->
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- Responsive media querries -->
	<link href="assets/css/responsive.css" rel="stylesheet">
</head>
<body>

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<!-- BORDERS -->
	<span class="border-line top-frame visible-lg"></span>
	<span class="border-line right-frame visible-lg"></span>
	<span class="border-line bottom-frame visible-lg"></span>
	<span class="border-line left-frame visible-lg"></span>

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- NAVIGATION -->
		<nav class="border-navbar navbar-custom navbar-transparent navbar-fixed-top">
				<div class="container">

						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>

								<!-- YOU LOGO HERE -->
								<a class="navbar-brand" href="index.html">
										<!-- IMAGE OR SIMPLE TEXT -->
										<img class="dark-logo" src="assets/images/site-logo.png" width="95" alt="">
										<img class="light-logo" src="assets/images/site-logo-light.png" width="95" alt="">
								</a>
						</div>

						<div class="collapse navbar-collapse" id="custom-collapse">

								<ul class="nav navbar-nav navbar-right">

										<li><a href="projetos.html" class="section-scroll">Projetos</a></li>
										<li><a href="membros.html" class="section-scroll">Membros</a></li>
										<li><a href="publicacoes.html" class="section-scroll">Publicações</a></li>
										<li><a href="contato.html" class="section-scroll">Contato</a></li>

										<li class="dropdown">
												<a href="#" class="dropdown-toggle search-dropdown" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
												<ul class="dropdown-menu leftauto" role="menu">
														<li>
																<div class="dropdown-search">
																		<form>
																				<input type="text" class="form-control" placeholder="Procurar...">
																				<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
																		</form>
																</div>
														</li>
												</ul>
										</li>

								</ul>
						</div>

				</div>
		</nav>
		<!-- /NAVIGATION -->
		<!-- BLOG SECTION-->
		<section id="blog" class="brick">

			<div class="container">
				<!-- brick TITLE -->
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<h2 class="brick-title">Linha de pesquisa 01</h2>
						<div class="divider title-divider"></div>
            			<p class="font-droid">[Descrição da linha de pesquisa]
									<br>Teria algo de desgarrado no seu todo, como essas criaturas que vêm, e não se sabe donde, e vão como aves de arribação, amando e fazendo-se amar, boêmias na aparência, exigentes no fundo, urnas de amor, mas capazes de maldade, um pouco de andorinha e de falcão.</p>
          			</div>
				</div>
				<!-- /brick TITLE -->

				<div class="row mt-100 mt-small">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<center><h5 class="brick-title">Projetos</h5></center>
					</div>

						<!-- Post Item 1 -->
						<div class="col-md-12" >
							<div class="row">
									<div class="col-md-3 lop-blog-post-title-cont">
										<div class="post-prev-title">
												<h3><a href="projeto.html">Projeto bullying</a></h3>
												<div class="post-prev-info">
													<a href="#">21 outubro 2017</a>
												</div>
										</div>
									</div>
									<div class="col-md-9">
										<div class="blog-lop-post-prev-text">
												Breve descrição do projeto aqui, breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui. Breve descrição do projeto aqui, breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui.
										</div>
									</div>
							</div>
						</div>

						<!-- Post Item 2 -->
						<div class="col-md-12">
							<div class="row">
									<div class="col-md-3 lop-blog-post-title-cont">
										<div class="post-prev-title">
												<h3><a href="blog-single-sidebar-right.html">Projeto dois</a></h3>
												<div class="post-prev-info">
													<a href="#">16 outubro 2017</a>
												</div>
										</div>
									</div>
									<div class="col-md-9">
										<div class="blog-lop-post-prev-text">
												Breve descrição do projeto aqui, breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui. Breve descrição do projeto aqui, breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui.
										</div>
									</div>
							</div>
						</div>

						<!-- Post Item 3 -->
						<div class="col-md-12">
							<div class="row">
									<div class="col-md-3 lop-blog-post-title-cont">
										<div class="post-prev-title">
												<h3><a href="blog-single-sidebar-right.html">Projeto três</a></h3>
												<div class="post-prev-info">
													<a href="#">10 outubro 2017</a>
												</div>
										</div>
									</div>
									<div class="col-md-9">
										<div class="blog-lop-post-prev-text">
												Breve descrição do projeto aqui, breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui. Breve descrição do projeto aqui, breve descrição do projeto aqui breve descrição do projeto aqui breve descrição do projeto aqui.
										</div>
								</div>
							</div>
					</div>
</div>
</section>
<!-- BLOG SECTION -->
<!-- PAGINATION -->
<div class="row">

<div class="col-sm-12 text-center mt-60">
	<ul class="pagination">
		<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
	</ul>
</div>

</div>
<!-- /PAGINATION -->
<!-- ABOUT -->
<section class="brick">
	<div class="container">
		<!-- brick title -->
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
							<h2 class="brick-title mb-50">Membros</h2>
							<div class="divider title-divider"></div>
						</div>
		</div>
		<!-- end of brick title -->
		<div class="row mt-50">
			<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/images/icont.jpg" alt="team-member" />
							</a>
						</div>

						<div class="member-content">
							<h3 class="card-title">Tássia Melo</h3>
							<h5 class="text-gray">arquiteta</h5>

							<p class="card-description mt-20">
								Mulher, arquiteta, professora, it girl e feliz...(:
							</p>
							<div class="card-social">
								<a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/images/iconn.jpg" alt="team-member" />
							</a>
						</div>

						<div class="member-content">
							<h3 class="card-title">Gustavo Soares</h3>
							<h5 class="text-gray">software engineer</h5>

							<p class="card-description mt-20">
								Gosto de vídeo game, cerveja e elaborar aulas.
							</p>
							<div class="card-social">
								<a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/images/icon.jpg" alt="team-member" />
							</a>
						</div>

						<div class="member-content">
							<h3 class="card-title">Lua Lacerda</h3>
							<h5 class="text-gray">designe</h5>

							<p class="card-description mt-20">
								Gosto de desperdiçar tempo escrevendo poesia.
							</p>
							<div class="card-social">
								<a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/images/bbb.jpg" alt="team-member" />
							</a>
						</div>

						<div class="member-content">
							<h3 class="card-title">Bianca Tavares</h3>
							<h5 class="text-gray">marketing</h5>

							<p class="card-description mt-20">
								Apaixonada pela vida e curtindo ela adoidado.
							</p>
							<div class="card-social">
								<a href="#" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
							</div>
						</div>
					</div>
				</div>
					</div>
	</div>
</section >
<!-- /ABOUT -->


<!--footer-->
<footer class="footer bg-light">

	<!-- PORTFOLIO SECTION -->
	<section id="portfolio" class="brick">
		<div class="container">
			<!-- brick title -->
			<div class="row text-center">
				<div class="col-md-8 col-md-offset-2 col-xs-12 mb-80">
						<h2 class="brick-title">Últimos projetos</h2>
						<div class="divider title-divider"></div>
							</div>
			</div>
			<!-- end of brick title -->
							<div class="row mt-50 mt-sm-0">
									<div class="col-sm-12 overflow">
											<div class="row portfolio-container">
													<div class="slider-projects owl-carousel owl-theme text-center">

															<!-- PROJECT ONE -->
															<div class="item">
																	<div class="porifolio-section overflow">
																					<div class="col-xs-10 col-xs-offset-1">
																							<div class="row">
																									<div class="image text-center">
																											<img src="assets/images/portfolio-1.jpg" alt="Features Image">
																									</div>
																							</div>
																					</div>
																			<div class="each-portfolio-heading">
																					<div class="heading-text overflow">
																							<div class="line"></div>
																							<div class="overflow">
																									<div class="sub-heading-outer">
																											<p class="sub-heading">Linha de pesquisa 01</p>
																									</div>
																							</div>
																							<div class="text overflow">
																									<h1 class="project-title">
																											Projeto um
																									</h1>
																							</div>
																					</div>
																					<div class="link-list overflow">
																							<div class="link one overflow">
																									<div class="inner">
																											<a class="btn-project-detail right-icon" href="#" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																									</div>
																							</div>
																							<div class="link two overflow">
																									<div class="inner">
																											<a class="project-data">12/03/2017</a>
																									</div>
																							</div>
																							<div class="line hidden-xs"></div>
																					</div>
																			</div>
																	</div>
															</div>
															<!-- END OF PROJECT ONE -->

															<!-- PROJECT TWO -->
															<div class="item ">
																	<div class="porifolio-section overflow">
																			<div class="col-xs-10 col-xs-offset-1">
																					<div class="row">
																							<div class="image text-center">
																									<img src="assets/images/portfolio-2.jpg" alt="Features Image">
																							</div>
																					</div>
																			</div>
																			<div class="each-portfolio-heading">
																					<div class="heading-text overflow">
																							<div class="line"></div>
																							<div class="overflow">
																									<div class="sub-heading-outer">
																											<p class="sub-heading">Linha de pesquisa 2</p>
																									</div>
																							</div>
																							<div class="text overflow">
																									<h1 class="project-title">
																											Projeto dois
																									</h1>
																							</div>
																					</div>
																					<div class="link-list overflow">
																							<div class="link one overflow">
																									<div class="inner">
																											<a class="btn-project-detail right-icon" href="#" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																									</div>
																							</div>
																							<div class="link two overflow">
																									<div class="inner">
																											<a class="project-data">24/02/2017</a>
																									</div>
																							</div>
																							<div class="line hidden-xs"></div>
																					</div>
																			</div>
																	</div>
															</div>
															<!-- END OF PROJECT TWO -->

															<!-- PROJECT THREE -->
															<div class="item">
																	<div class="porifolio-section overflow">
																			<div class="col-xs-10 col-xs-offset-1">
																					<div class="row">
																							<div class="image text-center">
																									<img src="assets/images/portfolio-3.jpg" alt="Features Image">
																							</div>
																					</div>
																			</div>
																			<div class="each-portfolio-heading">
																					<div class="heading-text overflow">
																							<div class="line"></div>
																							<div class="overflow">
																									<div class="sub-heading-outer">
																											<p class="sub-heading">Linha de pesquisa 2</p>
																									</div>
																							</div>
																							<div class="text overflow">
																									<h1 class="project-title">
																											Projeto três
																									</h1>
																							</div>
																					</div>
																					<div class="link-list overflow">
																							<div class="link one overflow">
																									<div class="inner">
																											<a class="btn-project-detail right-icon" href="#" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																									</div>
																							</div>
																							<div class="link two overflow">
																									<div class="inner">
																										 <a class="project-data">17/01/2017</a>
																									</div>
																							</div>
																							<div class="line hidden-xs"></div>
																					</div>
																			</div>
																	</div>
															</div>
															<!-- END OF PROJECT THREE -->

													</div> <!-- owl carousel -->
										</div> <!-- End of portfolio container -->
									</div>
							</div>
		</div>
	</section>
	<!-- END OF PORTFOLIO SECTION -->

	</footer>
<!-- /FOOTER SECTION -->
</div>
	<!-- /WRAPPER -->

	<!-- Javascript files -->
	<script src="assets/js/jquery-2.1.3.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="assets/js/jquery.youtubebackground.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.simple-text-rotator.min.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/packery-mode.pkgd.min.js"></script>
	<script src="assets/js/appear.js"></script>
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<script src="assets/js/jqBootstrapValidation.js"></script>
	<script src="assets/js/jquery.fitvids.js"></script>
	<script src="assets/js/jquery.parallax-1.1.3.js"></script>
	<script src="assets/js/contact.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/splitslider.js"></script>
	<script src="assets/js/horizontaltimeline.js"></script>
	<script src="assets/js/jquery.mobile.custom.min.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/particles.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="assets/js/jquery.superslides.min.js"></script>

</body>
</html>
