{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Tanislav Robert Marian">

	<title>necca</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
	<!-- Bootstrap core CSS -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Plugins -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/et-line-font.css' %}" rel="stylesheet">
	<link href="{% static 'css/simpletextrotator.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/superslides.css' %}" rel="stylesheet">
	<link href="{% static 'css/margins.css' %}" rel="stylesheet">
	<link href="{% static 'css/animate.css' %}" rel="stylesheet">

	<!-- Template core CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<!-- Responsive media querries -->
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>
<body>

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<!-- BORDERS -->
	<span class="border-line top-frame visible-lg"></span>
	<span class="border-line right-frame visible-lg"></span>
	<span class="border-line bottom-frame visible-lg"></span>
	<span class="border-line left-frame visible-lg"></span>

	<!-- WRAPPER -->
	<div class="wrapper">

		<nav class="border-navbar navbar-custom navbar-transparent navbar-fixed-top">
				<div class="container">

						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>

								<!-- YOU LOGO HERE -->
								<a class="navbar-brand" href="index.html">
										<!-- IMAGE OR SIMPLE TEXT -->
										<img class="dark-logo" src="assets/images/site-logo.png" width="95" alt="">
										<img class="light-logo" src="assets/images/site-logo-light.png" width="95" alt="">
								</a>
						</div>

						<div class="collapse navbar-collapse" id="custom-collapse">

								<ul class="nav navbar-nav navbar-right">

										<li><a href="/projetos" class="section-scroll">Projetos</a></li>
										<li><a href="/membros" class="section-scroll">Membros</a></li>
										<li><a href="/publicacoes" class="section-scroll">Publicações</a></li>
										<li><a href="/contato" class="section-scroll">Contato</a></li>

										<li class="dropdown">
												<a href="#" class="dropdown-toggle search-dropdown" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
												<ul class="dropdown-menu leftauto" role="menu">
														<li>
																<div class="dropdown-search">
																		<form>
																				<input type="text" class="form-control" placeholder="Procurar...">
																				<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
																		</form>
																</div>
														</li>
												</ul>
										</li>

								</ul>
						</div>

				</div>
		</nav>
		<!-- /NAVIGATION -->

		<!-- HERO -->
		<section id="hero" class="brick-hero-2 full-height">

			<!-- PARTICLES -->
			<div id="particles-js">
				<!-- HERO TEXT -->
				<div class="hero-caption">
					<div class="hero-text">
						<h1 class="lop-size-lg">NECCA </h1>
											 <div class="local-scroll hidden-xs">
												 						{% for l in lp_list %}
																		 <a href="{% url 'LinhaDePesquisa' l.pk %}" class="section-scroll main_btn blue-btn size-xs">{{ l.nome }}</a>
																		 <span>&nbsp;</span>
																		{% endfor %}
																 </div>

					</div>
				</div>
				<!-- /HERO TEXT -->
			</div>
		</section>
		<!-- /HERO -->

		<!-- ABOUT SECTION -->
		<div id="about" class="brick">
			<div class="container">
				<!-- brick title -->
<div class="row text-center">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
					<h2 class="brick-title mb-50">História do grupo</h2>
					<div class="divider title-divider"></div>
					<p class="font-droid">Cada minuto e cada passo do meu dia me levam até aqui.
e eu não estaria tão grata não fosse as coisas que odiava e agora amo.
não estaria tão grata se não tivesse percebido que com frequência estive e estou terrivelmente enganada sobre coisas e pessoas.
e se não tivesse pensado em desistir pelo menos 10 vezes ao dia, não enxergaria tão nítidas essas cores.
porque todas as vezes que me frustrei contribuíram pra que eu viesse a entender mais tarde.
entender que existe outras perspectivas, outras maneiras, outros caminhos...sou eu quem faço minha estrada.
e não seria ainda tão imensamente grata se não tivesse essa capacidade infinita de me recriar sempre que é preciso.
não se trata de ser inconstante, mas não poderia jamais continuar sendo quem fui e quero com outros olhos enxergar a vida, o futuro, o amanhã.
embora não pense muito neles.
de todas as coisas pelas quais sou grata, acima de tudo, pelo hoje.

eu só existo agora e nunca mais.</p>
				</div>
</div>
<!-- end of brick title -->
			</div>
		</div >
		<!-- END OF ABOUT SECTION -->
		<!--footer-->
		<footer class="footer bg-light">

			<!-- PORTFOLIO SECTION -->
			<section id="portfolio" class="brick">
				<div class="container">
					<!-- brick title -->
					<div class="row text-center">
						<div class="col-md-8 col-md-offset-2 col-xs-12 mb-80">
								<h2 class="brick-title">Últimos projetos</h2>
								<div class="divider title-divider"></div>
									</div>
					</div>
{% for p in object_list %}
{{ p.nome }}
{% endfor %}
					<!-- end of brick title -->
									<div class="row mt-50 mt-sm-0">
											<div class="col-sm-12 overflow">
													<div class="row portfolio-container">
															<div class="slider-projects owl-carousel owl-theme text-center">
																 {% for p in object_list %}
																 <!--test-->
																 <!--test-->
																	<div class="item">
																			<div class="porifolio-section overflow">
																							<div class="col-xs-10 col-xs-offset-1">
																									<div class="row">
																											<div class="image text-center">
																												<!--text-->
																											</div>
																									</div>
																							</div>
																					<div class="each-portfolio-heading">
																							<div class="heading-text overflow">
																									<div class="line"></div>
																									<div class="overflow">
																											<div class="sub-heading-outer">
																													<p class="sub-heading">{{p.linha_dp.nome}}</p>
																											</div>
																									</div>
																									<div class="text overflow">
																											<h1 class="project-title">
																													{{p.nome}}
																											</h1>
																									</div>
																							</div>
																							<div class="link-list overflow">
																									<div class="link one overflow">
																											<div class="inner">
																													<a class="btn-project-detail right-icon" href="projeto.html" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																											</div>
																									</div>
																									<div class="link two overflow">
																											<div class="inner">
																													<a class="project-data">{{p.data|date}}</a>
																											</div>
																									</div>
																									<div class="line hidden-xs"></div>
																								</div>
																							</div>
																			</div>
																	</div>
																	{% endfor %}
															</div> <!-- owl carousel -->
												</div> <!-- End of portfolio container -->
											</div>
									</div>
				</div>
			</section>
			<!-- END OF PORTFOLIO SECTION -->

	    </footer>
		<!-- /FOOTER SECTION -->
	</div>
	<!-- /WRAPPER -->

	<!-- Javascript files -->
	<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'js/jquery.youtubebackground.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.simple-text-rotator.min.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/packery-mode.pkgd.min.js' %}"></script>
	<script src="{% static 'js/appear.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
	<script src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
	<script src="{% static 'js/contact.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/splitslider.js' %}"></script>
	<script src="{% static 'js/horizontaltimeline.js' %}"></script>
	<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/particles.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/jquery.superslides.min.js' %}"></script>

</body>
</html>
