<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Tanislav Robert Marian">

	<title>Entre ou cadastre-se</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/images/favicon.png">
	<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Plugins -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/et-line-font.css" rel="stylesheet">
	<link href="assets/css/simpletextrotator.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="assets/css/superslides.css" rel="stylesheet">
	<link href="assets/css/margins.css" rel="stylesheet">
	<link href="assets/css/animate.css" rel="stylesheet">

	<!-- Template core CSS -->
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- Responsive media querries -->
	<link href="assets/css/responsive.css" rel="stylesheet">
</head>
<body>

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<!-- BORDERS -->
	<span class="border-line top-frame visible-lg"></span>
	<span class="border-line right-frame visible-lg"></span>
	<span class="border-line bottom-frame visible-lg"></span>
	<span class="border-line left-frame visible-lg"></span>

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- NAVIGATION -->
		<nav class="border-navbar navbar-custom navbar-transparent navbar-fixed-top">

			<div class="container">

				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<!-- YOU LOGO HERE -->
					<img class="dark-logo" src="assets/images/site-logo.png" width="95" alt="">
					<a class="navbar-brand" href="index.html">
						<!-- IMAGE OR SIMPLE TEXT -->
						<img class="light-logo" src="assets/images/site-logo-light.png" width="95" alt="">
					</a>
				</div>

				<div class="collapse navbar-collapse" id="custom-collapse">

					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projetos</a>

								</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Membros</a>

								</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Publicações</a>

								</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle search-dropdown" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
							<ul class="dropdown-menu leftauto" role="menu">
								<li>
									<div class="dropdown-search">
										<form>
											<input type="text" class="form-control" placeholder="Procurar...">
											<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</li>
							</ul>
						</li>

					</ul>

				</div>

			</div>

		</nav>
		<!-- /NAVIGATION -->

		<!-- HERO -->
		<section class="brick brick-md brick-parallax bg-dark" data-background="assets/images/about.jpg">
				<div class="container">

                    <div class="row mt-50">

                        <div class="col-md-8">
                            <h1 class="bread-text text-white">Entre / Cadastre-se</h1>
                            <div class="text-white">

                            </div>
                        </div>


                    </div>

                </div>
		</section>
		<!-- /HERO -->

		<!-- LOGIN/REGISTER -->
		<section class="brick">

			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h2 class="mb-30">Acesse sua conta</h2>


						<!-- TABS -->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#login" data-toggle="tab">Entre</a></li>
							<li><a href="#register" data-toggle="tab">Cadastre-se</a></li>
						</ul>

						<div class="tab-content">

							<div id="login" class="tab-pane active">
								<form class="form">
								<!-- Username -->
								<div class="form-group">
									<input type="text" name="username" id="email" class="form-control" placeholder="Email">
								</div>
								<!-- Password -->
								<div class="form-group">
									<input type="password" name="password" id="password" class="form-control" placeholder="Senha">
								</div>
								<div class="form-group">
									<button class="action-btn btn-g block-btn">Entre</button>
								</div>
								<div class="form-group text-center">
									<a href="">Esqueceu a senha?</a>
								</div>
							</form>
							</div>

							<div id="register" class="tab-pane">
								<form class="form">
									<!-- Email -->
									<div class="form-group">
										<input type="text" name="email" id="E-mail" class="form-control" placeholder="Email">
									</div>
									<!-- Username -->
									<div class="form-group">
										<input type="text" name="username" id="username" class="form-control" placeholder="Nome">
									</div>

									<div class="form-group">
										<input type="text" name="email" id="CNPQ" class="form-control" placeholder="CNPQ">
									</div>
									<!-- Password -->
									<div class="form-group">
										<input type="password" name="password" id="password" class="form-control" placeholder="Senha">
									</div>
									<!-- Re-enter Password -->
									<div class="form-group">
										<input type="password" name="re-password" id="re-password" class="form-control" placeholder="Confime sua senha">
									</div>
									<div class="form-group">
										<button class="action-btn btn-g block-btn">Cadastre-se</button>
									</div>
								</form>
							</div>

						</div>

						<!-- /TABS -->

					</div>

				</div>

			</div>

		</section>
		<!-- /LOGIN/REGISTER -->



	</div>
	<!-- /WRAPPER -->


	<!-- Javascript files -->
	<script src="assets/js/jquery-2.1.3.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="assets/js/jquery.youtubebackground.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.simple-text-rotator.min.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/packery-mode.pkgd.min.js"></script>
	<script src="assets/js/appear.js"></script>
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<script src="assets/js/jqBootstrapValidation.js"></script>
	<script src="assets/js/jquery.fitvids.js"></script>
	<script src="assets/js/jquery.parallax-1.1.3.js"></script>
	<script src="assets/js/contact.js"></script>
	<script src="assets/js/horizontaltimeline.js"></script>
	<script src="assets/js/jquery.mobile.custom.min.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/jquery.superslides.min.js"></script>

</body>
</html>
