<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Tanislav Robert Marian">

	<title>projeto</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/images/favicon.png">
	<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Plugins -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/et-line-font.css" rel="stylesheet">
	<link href="assets/css/simpletextrotator.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="assets/css/superslides.css" rel="stylesheet">
	<link href="assets/css/margins.css" rel="stylesheet">
	<link href="assets/css/animate.css" rel="stylesheet">

	<!-- Template core CSS -->
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- Responsive media querries -->
	<link href="assets/css/responsive.css" rel="stylesheet">
</head>
<body>

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<!-- BORDERS -->
	<span class="border-line top-frame visible-lg"></span>
	<span class="border-line right-frame visible-lg"></span>
	<span class="border-line bottom-frame visible-lg"></span>
	<span class="border-line left-frame visible-lg"></span>

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- NAVIGATION -->
		<nav class="border-navbar navbar-custom navbar-transparent navbar-fixed-top">
				<div class="container">

						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>

								<!-- YOU LOGO HERE -->
								<a class="navbar-brand" href="index.html">
										<!-- IMAGE OR SIMPLE TEXT -->
										<img class="dark-logo" src="assets/images/site-logo.png" width="95" alt="">
										<img class="light-logo" src="assets/images/site-logo-light.png" width="95" alt="">
								</a>
						</div>

						<div class="collapse navbar-collapse" id="custom-collapse">

								<ul class="nav navbar-nav navbar-right">

										<li><a href="projetos.html" class="section-scroll">Projetos</a></li>
										<li><a href="membros.html" class="section-scroll">Membros</a></li>
										<li><a href="publicacoes.html" class="section-scroll">Publicações</a></li>
										<li><a href="contato.html" class="section-scroll">Contato</a></li>

										<li class="dropdown">
												<a href="#" class="dropdown-toggle search-dropdown" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
												<ul class="dropdown-menu leftauto" role="menu">
														<li>
																<div class="dropdown-search">
																		<form>
																				<input type="text" class="form-control" placeholder="Procurar...">
																				<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
																		</form>
																</div>
														</li>
												</ul>
										</li>

								</ul>
						</div>

				</div>
		</nav>
		<!-- /NAVIGATION -->


		<!-- HERO -->

		<!-- /HERO -->

		<!-- SINGLE POST -->
		<div class="brick">

			<div class="container">

				<div class="row">
					<!-- brick title -->
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3 col-xs-12">
	            			<h2 class="brick-title mb-50">Projeto bullying: situações que construem um agressor</h2>
	            			<div class="divider title-divider"></div>
	          			</div>
					</div>
					<!-- end of brick title -->

					<!-- CONTENT -->
					<div class="col-sm-8">

						<article class="post post-single">

							<!-- MEDIA -->
							<div class="post-media">
								<img src="assets/images/bull.png" alt="">
							</div>
							<!-- /MEDIA -->

							<!-- META -->
							<div class="post-meta">
								Por <a href="#">Tassia</a> / 15 Março / <a href="#">Arquiteta</a>
							</div>
							<!-- /META -->


							<!-- HEADER -->
							<!-- /HEADER -->

							<!-- POST CONTENT -->
							<div class="post-entry">
								<p align="justify">De acordo com o político e ativista social Nelson Mandela, a educação é a arma mais poderosa que pode ser usada para mudar o mundo. Nesse sentido, a escola é um dos ambientes que deve ajudar a formar a ética do indivíduo. Porém, a experiência escolar torna-se um desafio quando muitos estudantes sofrem agressões, insultos e humilhações frequentes, tornando necessária a tomada de medidas para resolver a questão.
									A dificuldade de aceitar o diferente está enraizada na cultura da humanidade. Guerras constantes contra intolerâncias raciais, religiosas e de outros tipos fazem parte da história do mundo. Então, na escola, local onde essas diferenças são mais perceptíveis, essa questão não seria contrária.
									<br>
									<br>Geralmente pessoas fora de um padrão estético sofrem humilhações por conta da aparência, fazendo com que enfrentem problemas de auto aceitação podendo desencadear depressão, auto mutilação e até mesmo o suicídio.
Embora os malefícios dessas atitudes sejam amplamente divulgados nos meios midiáticos, essas práticas ainda persistem e aumentam a cada ano. Segundo dados publicados pelo Instituto Brasileiro de Geografia e Estatística, em 2015 mais de 190 mil dos estudantes entrevistados alegaram sofrer bullying com frequência, e em comparação com o ano de 2012, houve um aumento de 30% nos casos. Dessa forma, nota-se a necessidade de resoluções eficientes para esse impasse. Fica claro, portanto, que para impedir a continuidade dessa situação, é imprescindível a intervenção das escolas, por meio de projetos que aleguem, desde o ensino primário, a importância de saber conviver com as diferenças e também disponibilizar o acompanhamento psicológico para os alunos a fim de evitar problemas maiores como o suicídio. Cabe também a família educar os seus filhos, ensinando que devem ter respeito e empatia com as pessoas . À vista disso, a educação será uma arma capaz de mudar o mundo.</p>
							</div>
							<!-- /POST CONTENT -->


							<div class="article-share mt-40 text-center">
                                    <a class="btn-social bg_facebook btn--icon" href="#">
                                        <span class="btn-text">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            Compartilhe no facebook
                                        </span>
                                    </a>
                                    <a class="btn-social bg_twitter btn--icon" href="#">
                                        <span class="btn-text">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            Compartilhe  no twitter
                                        </span>
                                    </a>
                            </div>

						</article>

						<!-- COMMENTS -->
						<div class="comments">
							<h4 class="comment-title">Comentários</h4>
							<hr class="divider mb-30">

							<!-- COMMENT 1 -->
							<div class="comment clearfix">
								<div class="comment-avatar">
									<img src="assets/images/icon.jpg" alt="">
								</div>
								<div class="comment-content clearfix">
									<h4 class="comment-author">
										<a href="#">Lua Lacerda</a>
									</h4>
									<div class="comment-body">
										<p>Eu acredito no bullying como uma válvula de escape do agressor, que muitas vezes, também foi agredido em casa ou na escola. Infelizmente é um péssimo mecanismo de defesa e a escola e os pais devem ficar atentos nos filhos, perguntando com frequência se sofrem alguma violência dos colegas.</p>
									</div>
									<div class="comment-meta">Hoje, 14:55 - <a class="bold" href="#">Responder</a></div>
								</div>

								<!-- COMMENT 2 -->
								<div class="comment clearfix">
									<div class="comment-avatar">
										<img src="assets/images/iconn.jpg" alt="">
									</div>
									<div class="comment-content clearfix">
										<h4 class="comment-author">
											<a href="#">Gustavo Soares</a>
										</h4>
										<div class="comment-body">
											<p>Concordo com você, Lua. Sempre muito certa no que diz.</p>
										</div>
										<div class="comment-meta">Hoje, 14:55 - <a class="bold" href="#">Responder</a></div>
									</div>
								</div>
								<!-- /COMMENT 2 -->

							</div>
							<!-- /COMMENT 1 -->


						</div>
						<!-- /COMMENTS -->
						<!-- COMMENT FORM -->
						<div class="comment-form">
							<h4 class="comment-form-title">Deixe um comentário</h4>
							<hr class="divider mb-30">

							<div class="row">

								<form>
									<div class="col-md-4">
										<div class="form-group">
											<input id="name" type="text" class="form-control" placeholder="Nome" name="name">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input id="email" type="email" class="form-control" placeholder="E-mail" name="email">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input id="website" type="text" class="form-control" placeholder="Website" name="website">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea id="message" name="message" class="form-control" placeholder="Mensagem" rows="6"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<button class="action-btn btn-g">Publicar comentário</button>
									</div>
								</form>

							</div>

						</div>
						<!-- /COMMENT FORM -->

					</div>
					<!-- /CONTENT -->

					<!-- SIDEBAR -->
					<div class="col-sm-4 col-md-3 col-md-offset-1 hidden-xs">

						<!-- WIDGET -->
						<div class="widget">
							<h4 class="widget-title">Membros desse projeto</h4>
							<ul class="widget-posts">

								<li class="clearfix">
									<div class="widget-posts-image">
										<a href="#">
											<img src="assets/images/icont.jpg" alt="thumb">
										</a>
									</div>
									<div class="widget-posts-body">
										<h5 class="widget-posts-title">
											<a href="#">Tássia Melo</a>
										</h5>
										<div class="widget-posts-meta">
											 <a>Arquiteta</a>
										</div>
									</div>
								</li>

								<li class="clearfix">
									<div class="widget-posts-image">
										<a href="#">
											<img src="assets/images/iconn.jpg" alt="thumb">
										</a>
									</div>
									<div class="widget-posts-body">
										<h5 class="widget-posts-title">
											<a href="#">Gustavo Soares</a>
										</h5>
										<div class="widget-posts-meta">
											<a>software egineer</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- /WIDGET -->

						<!-- WIDGET -->
						<div class="widget">
							<h4 class="widget-title">Publicações</h4>
							<ul>
								<li><a href="#">Publicação 1</a></li>
								<li><a href="#">Publicação 2</a></li>
								<li><a href="#">Publicação 3</a></li>
								<li><a href="#">Publicação 4</a></li>
								<li><a href="#">Publicação 5</a></li>
							</ul>
						</div>
						<!-- /WIDGET -->
					</div>
					<!-- /SIDEBAR -->

				</div>

			</div>

		</div>
		<!-- /SINGLE POST -->

		<!--footer-->
		<footer class="footer bg-light">

			<!-- PORTFOLIO SECTION -->
			<section id="portfolio" class="brick">
				<div class="container">
					<!-- brick title -->
					<div class="row text-center">
						<div class="col-md-8 col-md-offset-2 col-xs-12 mb-80">
								<h2 class="brick-title">Últimos projetos</h2>
								<div class="divider title-divider"></div>
									</div>
					</div>
					<!-- end of brick title -->
									<div class="row mt-50 mt-sm-0">
											<div class="col-sm-12 overflow">
													<div class="row portfolio-container">
															<div class="slider-projects owl-carousel owl-theme text-center">

																	<!-- PROJECT ONE -->
																	<div class="item">
																			<div class="porifolio-section overflow">
																							<div class="col-xs-10 col-xs-offset-1">
																									<div class="row">
																											<div class="image text-center">
																													<img src="assets/images/portfolio-1.jpg" alt="Features Image">
																											</div>
																									</div>
																							</div>
																					<div class="each-portfolio-heading">
																							<div class="heading-text overflow">
																									<div class="line"></div>
																									<div class="overflow">
																											<div class="sub-heading-outer">
																													<p class="sub-heading">Linha de pesquisa 01</p>
																											</div>
																									</div>
																									<div class="text overflow">
																											<h1 class="project-title">
																													Projeto um
																											</h1>
																									</div>
																							</div>
																							<div class="link-list overflow">
																									<div class="link one overflow">
																											<div class="inner">
																													<a class="btn-project-detail right-icon" href="#" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																											</div>
																									</div>
																									<div class="link two overflow">
																											<div class="inner">
																													<a class="project-data">12/03/2017</a>
																											</div>
																									</div>
																									<div class="line hidden-xs"></div>
																							</div>
																					</div>
																			</div>
																	</div>
																	<!-- END OF PROJECT ONE -->

																	<!-- PROJECT TWO -->
																	<div class="item ">
																			<div class="porifolio-section overflow">
																					<div class="col-xs-10 col-xs-offset-1">
																							<div class="row">
																									<div class="image text-center">
																											<img src="assets/images/portfolio-2.jpg" alt="Features Image">
																									</div>
																							</div>
																					</div>
																					<div class="each-portfolio-heading">
																							<div class="heading-text overflow">
																									<div class="line"></div>
																									<div class="overflow">
																											<div class="sub-heading-outer">
																													<p class="sub-heading">Linha de pesquisa 2</p>
																											</div>
																									</div>
																									<div class="text overflow">
																											<h1 class="project-title">
																													Projeto dois
																											</h1>
																									</div>
																							</div>
																							<div class="link-list overflow">
																									<div class="link one overflow">
																											<div class="inner">
																													<a class="btn-project-detail right-icon" href="#" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																											</div>
																									</div>
																									<div class="link two overflow">
																											<div class="inner">
																													<a class="project-data">24/02/2017</a>
																											</div>
																									</div>
																									<div class="line hidden-xs"></div>
																							</div>
																					</div>
																			</div>
																	</div>
																	<!-- END OF PROJECT TWO -->

																	<!-- PROJECT THREE -->
																	<div class="item">
																			<div class="porifolio-section overflow">
																					<div class="col-xs-10 col-xs-offset-1">
																							<div class="row">
																									<div class="image text-center">
																											<img src="assets/images/portfolio-3.jpg" alt="Features Image">
																									</div>
																							</div>
																					</div>
																					<div class="each-portfolio-heading">
																							<div class="heading-text overflow">
																									<div class="line"></div>
																									<div class="overflow">
																											<div class="sub-heading-outer">
																													<p class="sub-heading">Linha de pesquisa 2</p>
																											</div>
																									</div>
																									<div class="text overflow">
																											<h1 class="project-title">
																													Projeto três
																											</h1>
																									</div>
																							</div>
																							<div class="link-list overflow">
																									<div class="link one overflow">
																											<div class="inner">
																													<a class="btn-project-detail right-icon" href="#" data-element="project-detail">Detalhes <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
																											</div>
																									</div>
																									<div class="link two overflow">
																											<div class="inner">
																												 <a class="project-data">17/01/2017</a>
																											</div>
																									</div>
																									<div class="line hidden-xs"></div>
																							</div>
																					</div>
																			</div>
																	</div>
																	<!-- END OF PROJECT THREE -->

															</div> <!-- owl carousel -->
												</div> <!-- End of portfolio container -->
											</div>
									</div>
				</div>
			</section>
			<!-- END OF PORTFOLIO SECTION -->

	    </footer>
		<!-- /FOOTER SECTION -->
	</div>
	<!-- /WRAPPER -->

	<!-- Javascript files -->
	<script src="assets/js/jquery-2.1.3.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="assets/js/jquery.youtubebackground.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.simple-text-rotator.min.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/packery-mode.pkgd.min.js"></script>
	<script src="assets/js/appear.js"></script>
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<script src="assets/js/jqBootstrapValidation.js"></script>
	<script src="assets/js/jquery.fitvids.js"></script>
	<script src="assets/js/jquery.parallax-1.1.3.js"></script>
	<script src="assets/js/contact.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/horizontaltimeline.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/jquery.superslides.min.js"></script>

</body>
</html>
